<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="officehoursMain.html"> 
    Check out your prof's office hours here!
	<widget-row ng-repeat="item in items" clickable ng-click="showDetails(item)">
		<widget-cell fill>
			<span class="itemName">{{item.title}}</span>
			<span ng-repeat= "tag in item.tags" class="label label-success">
				{{tag}}
			</span>
		</widget-cell>
		<widget-cell>
			<widget-icon name="angle-right"></widget-icon>
		</widget-cell>
	</widget-row>
</script>

<!-- This template gets shown when user clicks one of the courses in the list -->
<script type="text/ng-template" id="officehoursDetails.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc><h2>{{detailsItem.title}}</h2></wc>
	</wr>
    
    <!-- WIDGET SEARCH BLOCK --> 
<widget-search 
	 label="Instructor Name" 
	 placeholder="Type in an instructor name, date, or time" 
	 search-results-title="Behold"
	 data="model" 
	 min-char="2" 
	 fields="["title","details"]">
	<widget-filter 
			fields="["category"]" 
			filters="[{value:"1",text:"Number 1"},{value:"2",text:"Number 2"}]">
	</widget-filter>
	<widget-searching>
		<widget-list list="item in searchResults" show-items="3">
			<widget-row clickable ng-click="showDetails(item)">
				<widget-cell fill>{{item.title}}</widget-cell>
				<widget-cell>
					<widget-icon name="angle-right"></widget-icon>
				</widget-cell>
			</widget-row>
		</widget-list>
	</widget-searching>
	<widget-not-searching>
        <widget-row clickable ng-click="showIDetails">
            <widget-cell fill>{{detailsItem.instructorName.nameProf}}</widget-cell>
                <widget-icon name="angle-right"></widget-icon>
            </widget-row>
		<widget-list list="item in detailsItem.subjectInstructors" show-items="3">
			<widget-row clickable ng-click="showSIDetails(subitem)">
				<widget-cell fill>{{item.nameProf}}</widget-cell>
				<widget-cell>
					<widget-icon name="angle-right"></widget-icon>
				</widget-cell>
			</widget-row>
            </widget-list>
        <widget-list list="item in detailsItem.taNames" show-items="3">
            <widget-row clickable ng-click="showTADetails(subitem)">
                <widget-cell fill>{{item.nameProf}}</widget-cell>
                <widget-cell>
                    <widget-icon name="angle-right"></widget-icon>
                </widget-cell>
           </widget-row>
		</widget-list>
	</widget-not-searching>
</widget-search>
<!-- WIDGET SEARCH BLOCK --> 

	<wr><wc><span ng-repeat= "tag in subdetailsItem.tags" class="label label-success">{{tag}}</span></wc></wr>
	<wr><wc><div class="pSubDetails">{{subdetailsItem.details}}</div></wc></wr>
</script>

<!-- This template gets shown when user clicks one of the Professors in the list -->

<script type="text/ng-template" id="officehoursSubitems.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc-fill><h2>{{subdetailsItem.title}}</h2></wc-fill>
            <widget-cell fill>{{detailsItem.instructorName}}</widget-cell>
                <widget-icon name="angle-right"></widget-icon>
		<widget-list list="item in detailsItem.subjectInstructors" show-items="3">
				<widget-cell fill>{{item}}</widget-cell>
				<widget-cell>
					<widget-icon name="angle-right"></widget-icon>
				</widget-cell>
            </widget-list>
        <widget-list list="item in detailsItem.taNames" show-items="3">
                <widget-cell fill>{{item}}</widget-cell>
                <widget-cell>
                    <widget-icon name="angle-right"></widget-icon>
                </widget-cell>
            </widget-list>
	<wr><wc><div class="pSubitems"></div></wc></wr>
    </wr>
    
</script>