
<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="officehoursMain.html"> 
    Check out your prof's office hours here!
	<widget-row ng-repeat="item in items" clickable ng-click="showDetails(item)">
		<widget-cell fill>
			<span class="itemName">{{item.title}}</span>
			<span ng-repeat= "tag in item.tags" class="label label-success">
				{{tag}}
			</span>
		</widget-cell>
		<widget-cell>
			<widget-icon name="angle-right"></widget-icon>
		</widget-cell>
	</widget-row>
</script>

<!-- This template gets shown when user clicks one of the courses in the list -->
<script type="text/ng-template" id="officehoursDetails.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc><h2>{{detailsItem.title}}</h2></wc>
	</wr>
    
    <!-- WIDGET SEARCH BLOCK --> 
<widget-search 
	 label="Instructor Name" 
	 placeholder="Type in an instructor name, date, or time" 
	 search-results-title="Behold"
	 data="model" 
	 min-char="2" 
	 fields="["title","details"]">
	<widget-filter 
			fields="['daytime']" 
			filters="[{value:'monday',text:'Monday'},{value:'tuesday',text:'Tuesday'},
                     {value:'wednesday',text:'Wednesday'},{value:'thursday',text:'Thursday'},
                     {value:'friday',text:'Friday'}]"
            title= "Pick a category">
	</widget-filter>
	<widget-searching>
		<widget-list list="item in searchResults" show-items="3">
			<widget-row clickable ng-click="showDetails(detailsItem)">
				<widget-cell fill>{{item.title}}</widget-cell>
				<widget-cell>
					<widget-icon name="angle-right"></widget-icon>
				</widget-cell>
			</widget-row>
		</widget-list>
	</widget-searching>
	<widget-not-searching>
        <widget-row clickable ng-click="showIDetails(detailsItem.instructorName)">
            <widget-cell fill>{{detailsItem.instructorName.nameProf}}</widget-cell>
                <widget-icon name="angle-right"></widget-icon>
            </widget-row>
		<widget-list list="subjectInstructor in detailsItem.subjectInstructors" show-items="3">
			<widget-row clickable ng-click="showSIDetails(subjectInstructor)">
				<widget-cell fill>{{subjectInstructor.nameProf}}</widget-cell>
				<widget-cell>
					<widget-icon name="angle-right"></widget-icon>
				</widget-cell>
			</widget-row>
            </widget-list>
        <widget-list list="item in detailsItem.taNames" show-items="3">
            <widget-row clickable ng-click="showTADetails(taNames)">
                <widget-cell fill>{{taNames.nameProf}}</widget-cell>
                <widget-cell>
                    <widget-icon name="angle-right"></widget-icon>
                </widget-cell>
           </widget-row>
		</widget-list>
	</widget-not-searching>
</widget-search>
<!-- WIDGET SEARCH BLOCK --> 

	<wr><wc><span ng-repeat= "tag in subdetailsItem.tags" class="label label-success">{{tag}}</span></wc></wr>
	<wr><wc><div class="pSubDetails">{{subdetailsItem.details}}</div></wc></wr>
</script>


<!-- This template gets shown when user clicks one of the Professors in the list -->

<script type="text/ng-template" id="officehoursSubitemsI.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc-fill><h2>{{detailsItem.instructorName.title}}</h2></wc-fill>
            <widget-cell fill>{{item}}</widget-cell>
    </wr>
    <wr>
		<wc-fill><h2>{{detailsItem.instructorName.tags}}</h2></wc-fill>
            <widget-cell fill>{{item}}</widget-cell>
    </wr>
    <wr>
		<wc-fill><h2>{{detailsItem.instructorName.nameProf}}</h2></wc-fill>
            <widget-cell fill>{{item}}</widget-cell>
    </wr>
    <wr>
		<wc-fill><h2>{{detailsItem.instructorName.daytime}}</h2></wc-fill>
            <widget-cell fill>{{item}}</widget-cell>
    </wr>
	<wr><wc><div class="pSubitems"></div></wc></wr>
</script>
    
<script type="text/ng-template" id="officehoursSubitemsSI.html">
    <wr><wc>{{subdetailsItem.title}}</wc></wr>
    
    <wr><wc>{{subdetailsItem.nameProf}}</wc></wr>
    
    <wr><wc>{{subdetailsItem.daytime}}</wc></wr>
	<wr>
        <widget-list list="tag in subdetailsItem.tags">
				<widget-cell fill>{{tag}}</widget-cell>
            </widget-list>
    </wr>
</script>

<script type="text/ng-template" id="officehoursSubitemsTA.html">
    <wr><wc>{{subdetailsItem.title}}</wc></wr>
    
    <wr><wc>{{subdetailsItem.nameProf}}</wc></wr>
    
    <wr><wc>{{subdetailsItem.daytime}}</wc></wr>
    <wr>
        <widget-list list="item in detailsItem.taNames.tags">
                <widget-cell fill>{{tag}}</widget-cell>
            </widget-list>
    </wr>
</script>